<div class="relative">
    <img
      class="switch-9900"
      src="assets/img/switches/OS9900.png"
      alt="teste"
    />

    <div class="port-set absolute-uplinks-9900">
      <div class="container-uplink1-9900">
        <img
          *ngFor="let port of ports_core_laranjal; let i = index"
          class="block-uplink1-9900"
          [src]="
            port.active
              ? 'assets/img/ports/link/link_9900_up.png'
              : 'assets/img/ports/link/link_9900_down.png'
          "
          alt="uplink_9900_up"
          [title]="
            'Entrada: ' + port.inputvalue + '\nSaída: ' + port.outputvalue
          "
        />

        <!-- <img class="block-uplink1-9900" src="assets/img/ports/link/link_9900_up.png" alt="uplink_9900_down"> -->
      </div>
    </div>

    <div class="port-set absolute-fibra-9900">
      <div class="container-fibra-9900">
        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up.png"
          alt="fibra_9900_up"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up_upsidedown.png"
          alt="fibra_9900_up_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down.png"
          alt="fibra_9900_down"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down_upsidedown.png"
          alt="fibra_9900_down_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up.png"
          alt="fibra_9900_up"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up_upsidedown.png"
          alt="fibra_9900_up_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down.png"
          alt="fibra_9900_down"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down_upsidedown.png"
          alt="fibra_9900_down_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up.png"
          alt="fibra_9900_up"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up_upsidedown.png"
          alt="fibra_9900_up_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down.png"
          alt="fibra_9900_down"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down_upsidedown.png"
          alt="fibra_9900_down_upsidedown"
        />
      </div>

      <div class="container-fibra-9900">
        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up.png"
          alt="fibra_9900_up"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up_upsidedown.png"
          alt="fibra_9900_up_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down.png"
          alt="fibra_9900_down"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down_upsidedown.png"
          alt="fibra_9900_down_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up.png"
          alt="fibra_9900_up"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up_upsidedown.png"
          alt="fibra_9900_up_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down.png"
          alt="fibra_9900_down"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down_upsidedown.png"
          alt="fibra_9900_down_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up.png"
          alt="fibra_9900_up"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up_upsidedown.png"
          alt="fibra_9900_up_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down.png"
          alt="fibra_9900_down"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down_upsidedown.png"
          alt="fibra_9900_down_upsidedown"
        />
      </div>

      <div class="container-fibra-9900">
        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up.png"
          alt="fibra_9900_up"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up_upsidedown.png"
          alt="fibra_9900_up_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down.png"
          alt="fibra_9900_down"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down_upsidedown.png"
          alt="fibra_9900_down_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up.png"
          alt="fibra_9900_up"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up_upsidedown.png"
          alt="fibra_9900_up_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down.png"
          alt="fibra_9900_down"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down_upsidedown.png"
          alt="fibra_9900_down_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up.png"
          alt="fibra_9900_up"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up_upsidedown.png"
          alt="fibra_9900_up_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down.png"
          alt="fibra_9900_down"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down_upsidedown.png"
          alt="fibra_9900_down_upsidedown"
        />
      </div>

      <div class="container-fibra-9900">
        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up.png"
          alt="fibra_9900_up"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up_upsidedown.png"
          alt="fibra_9900_up_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down.png"
          alt="fibra_9900_down"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down_upsidedown.png"
          alt="fibra_9900_down_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up.png"
          alt="fibra_9900_up"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up_upsidedown.png"
          alt="fibra_9900_up_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down.png"
          alt="fibra_9900_down"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down_upsidedown.png"
          alt="fibra_9900_down_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up.png"
          alt="fibra_9900_up"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_up_upsidedown.png"
          alt="fibra_9900_up_upsidedown"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down.png"
          alt="fibra_9900_down"
        />

        <img
          class="block-fibra-9900"
          src="assets/img/ports/fibra/fibra_9900_down_upsidedown.png"
          alt="fibra_9900_down_upsidedown"
        />
      </div>
    </div>
  </div>