<div class="center ext-margin">
  <h2>OIAPOQUE</h2>
</div>

<div class="border b-round flex-column center padding">
  <h3>Switchs Core</h3>

  <div class="center ext-margin">
    <app-core-switch-6900
      [switch_name]="'core_oiapoque'"
    ></app-core-switch-6900>
  </div>
</div>

<div class="border b-round flex-column center padding ext-margin">
  <div class="ext-margin">
    <h3>Switchs acesso</h3>
  </div>

  <app-acess-switch-6360-24 [switch_name]="'acesso1_oiapoque'"></app-acess-switch-6360-24>
  <app-acess-switch-6360-24 [switch_name]="'acesso2_oiapoque'"></app-acess-switch-6360-24>
  <app-acess-switch-6360-24 [switch_name]="'acesso3_oiapoque'"></app-acess-switch-6360-24>
</div>