<div class="center ext-margin">
  <h1>MONITORAMENTO SWITCHES</h1>
</div>

<div class="center ext-margin">
  <h2>OIAPOQUE</h2>
</div>

<div class="border b-round flex-column center padding ext-margin">
  <div class="ext-margin">
    <h3>Switch Core</h3>
  </div>
  
  <div class="center ext-margin">
    <img src="assets/img/48-portas_cleaned.png" alt="teste">
  </div>
  
</div>

<div class="border b-round ext-margin">
  <div class="flex-column center">
    <div class="ext-margin">
      <h3>Acesso 1</h3>
    </div>
  
    <div class="center ext-margin">
      <img src="assets/img/24_portas-removebg.png" alt="teste">
    </div>
    
  </div>
  
  <div class="center flex-column">
    <div class="ext-margin">
      <h3>Acesso 2</h3>
    </div>
  
    <div class="center ext-margin">
      <img src="assets/img/24_portas-removebg.png" alt="teste">
    </div>
  </div>
  
  <div class="center flex-column">
    <div class="ext-margin">
      <h3>Acesso 3</h3>
    </div>
  
    <div class="center ext-margin">
      <img src="assets/img/24_portas-removebg.png" alt="teste">
    </div>
  </div>
</div>