<div class="center ext-margin">
  <h1>MONITORAMENTO SWITCHES</h1>
</div>

<div class="center ext-margin">
  <h2>LARANJAL DO JARI</h2>
</div>

<div class="border b-round flex-column center padding">
  
  <div class="center ext-margin">
    <app-core-laranjal></app-core-laranjal>
  </div>
</div>

<div class="border b-round flex-column center padding ext-margin">
  <div class="ext-margin">
    <h3>Switchs acesso</h3>
  </div>

  <app-acesso1-laranjal></app-acesso1-laranjal>
  <app-acesso2-laranjal></app-acesso2-laranjal>
  <app-acesso3-laranjal></app-acesso3-laranjal>
</div>
