/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/* CONSTANTS */

//tamanhos de fonte

$font-h1: clamp(1rem, 4vw, 5rem);
$font-h2: clamp(1rem, 3vw, 4rem);
$font-h3: clamp(1rem, 2vw, 3rem);
$font-h4: clamp(1rem, 1vw, 2rem);

//TAMANHOS DOS SWITCHES

$tam-width-switch-6360: 79vw;
$tam-width-switch-6900: 79vw;
$tam-width-switch-9900: 40vw;

//POSIÇÃO DAS PORTAS 1 A 12 DO SWITCH 6360

$top-6360-space-ports: 2.5vw;
$left-6360-space-ports: 26.65vw;

$calibration-constant: 16vw; //CONSTANTE DE CALIBRAÇÃO PARA A DISTÂNCIA HORIZONTAL ENTRE OS DEMAIS GRUPOS DE PORTAS

//POSIÇÃO DAS PORTAS DOS UPLINKS FIBRA

$top-6360-uplink-ports: 5.1vw;
$left-6360-uplink-ports: $left-6360-space-ports + 2.19*$calibration-constant;

:root {

  --tam-link_6360_port: 1.7vw;

  --tam-link_9900_port: 0.8vw;
  --tam-link_9900_fibra: 0.8vw;

  --tam-link_9900_uplink1: 1.2vw;
  --tam-link_9900_uplink2: 1.5vw;

  --tam-uplink_6360_port: 2.4vw;

  --top-9900-space-ports: 18.1vw;
  --left-9900-space-ports: 7.65vw;

  --top-9900-space-fibra: 14vw;
  --left-9900-space-fibra: 7.65vw;

  --top-9900-space-uplinks: 6.45vw;
  --left-9900-space-uplinks: 12.25vw;

  --mat-table-background-color: transparent;
  --mat-table-header-headline-color: rgb(199, 199, 199);
  --mat-table-row-item-label-text-color: white;
  --mat-table-row-item-outline-color: rgb(116, 116, 116);

  --mdc-outlined-button-label-text-color: white;
}


/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #1e1e1e;
  font-family: "Mona Sans", serif;
  color: #e1e1e1;
  display: flex;
  justify-content: center;
}

/* END CSS RESET */

/* BORDER STYLES */

.border {
  border: 1px solid rgb(122, 122, 122);
}

.b-round {
  border-radius: 1rem;
}

b-debug {
  border: 1px solid red;
}

/* ALIGNMENT */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evenly {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.self-end {
  align-self: self-end;
  margin-left: auto;
}


.flex-column {
  flex-direction: column;
}

/* MARGINS AND PADDING */

.padding {
  padding: 1rem;
}

.ext-margin {
  margin: 1rem 0;
}

/* TAMANHOS DE FONTE */

h1,
h2,
h3 {
  margin-top: 2vw;
  margin-bottom: 4vw;
}

h1 {
  font-weight: 900;
  font-size: $font-h1;
}

h2 {
  font-weight: 700;
  font-size: $font-h2;
}

h3 {
  font-size: $font-h3;
}

h4 {
  font-size: $font-h4;
}

/* TAMANHOS DOS SWITCHES */

.switch-6360 {
  width: $tam-width-switch-6360;
}

.switch-6900 {
  width: $tam-width-switch-6900;
}

.switch-9900 {
  width: $tam-width-switch-9900;
}

// POSIÇÕES DAS PORTAS EM CIMA DAS IMAGENS DOS SWITCHES

.relative {
  position: relative;
}

/* switch os6360 */

.absolute-6360-1-12 {
  position: absolute;
  top: $top-6360-space-ports;
  left: $left-6360-space-ports;
}

.absolute-6360-13-24 {
  position: absolute;
  top: $top-6360-space-ports;
  left: $left-6360-space-ports + $calibration-constant;
}

// .absolute-6360-uplink-rj {
//   position: absolute;
//   top: $top-6360-space-ports;
//   left: $left-6360-space-ports + 2*$calibration-constant;
// }

.absolute-6360-uplink-fibra {
  position: absolute;
  top: $top-6360-uplink-ports;
  left: $left-6360-uplink-ports;;
}

.absolute-6360-console {
  position: absolute;
  top: 7.85vw;
  left: 79.5vw;
}

/* switch os6900 */

.absolute-6900-1-16 {
  position: absolute;
  top: 2.4vw;
  left: 8.15vw;
}

.absolute-6900-17-32 {
  position: absolute;
  top: 2.4vw;
  left: 27.3vw;
}

.absolute-6900-33-48 {
  position: absolute;
  top: 2.4vw;
  left: 46.5vw;
}

/* switch os9900 */

.absolute-9900 {
  position: absolute;
  top: var(--top-9900-space-ports);
  left: var(--left-9900-space-ports);
}

.absolute-fibra-9900 {
  position: absolute;
  top: var(--top-9900-space-fibra);
  left: var(--left-9900-space-fibra);
}

.absolute-uplinks-9900 {
  position: absolute;
  top: var(--top-9900-space-uplinks);
  left: var(--left-9900-space-uplinks);

  display: flex;
  flex-wrap: wrap;
}

//Tamanhos de cada porta

.port-6900 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--tam-link_6360_port);

  overflow: hidden;
}

.port-6360 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--tam-link_6360_port);

  overflow: hidden;
}

.port-6360-uplink {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--tam-uplink_6360_port);

  overflow: hidden;
}

[class^="port"] img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}

[class^="port"] img:hover {
  filter: brightness(0.8);
}

.block-9900 {
  display: inline-block;
  // border: 1px solid blue;
  width: var(--tam-link_9900_port);
  // height: var(--tam-link_6360_port);
}

.block-fibra-9900 {
  display: inline-block;
  // border: 1px solid blue;
  width: var(--tam-link_9900_fibra);
  // height: var(--tam-link_6360_port);
}

.block-uplink1-9900 {
  display: inline-block;
  // border: 1px solid blue;
  width: var(--tam-link_9900_uplink1);
  // height: var(--tam-link_6360_port);
}

.block-uplink2-9900 {
  display: inline-block;
  // border: 1px solid blue;
  width: var(--tam-link_9900_uplink2);
  // height: var(--tam-link_6360_port);
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  margin-right: 0.85vw;
  row-gap: 1.1vw;
  column-gap: 0.79vw;
}

.container-6900 {
  display: inline-grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  margin-right: 0.85vw;
  row-gap: 0.9vw;
  column-gap: 0.58vw;
}

// .container-9900 {
//   display: inline-grid;
//   grid-template-columns: repeat(1, auto);
//   grid-template-rows: repeat(2, auto);
//   grid-auto-flow: column;
//   row-gap: 0.42vw;
//   column-gap: 0.34vw;
//   margin-right: 0.7vw;
// }

// .container-fibra-9900 {
//   display: inline-grid;
//   grid-template-columns: repeat(1, auto);
//   grid-template-rows: repeat(2, auto);
//   grid-auto-flow: column;
//   margin-right: 0.7vw;
//   column-gap: 0.34vw;
//   row-gap: 0.3vw;
// }

// .container-uplink1-9900 {
//   display: inline-grid;
//   grid-template-columns: repeat(1, auto);
//   grid-template-rows: repeat(1, auto);
//   grid-auto-flow: column;
//   margin-right: 9vw;
//   place-items: end;
//   column-gap: 1.6vw;
//   margin-bottom: 3.2vw;
// }

// .container-uplink2-9900 {
//   display: inline-grid;
//   grid-template-columns: repeat(1, auto);
//   grid-template-rows: repeat(1, auto);
//   grid-auto-flow: column;
//   margin-right: 1.1vw;
//   place-items: end;
//   column-gap: 2.4vw;
//   margin-bottom: 3.2vw;
// }

.container-uplinks {
  display: inline-grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(1, auto);
  grid-auto-flow: column;

  place-items: end;
  column-gap: 0.78vw;
}

.port-set {
  display: flex;
  overflow: hidden;
}

// TABLE

.mdc-data-table__table {
  width: 28vw !important;
  min-width: unset !important;
  box-shadow: none !important;
  white-space: nowrap;
  border-spacing: 0;
  table-layout: fixed;
  border: 1px solid rgb(99, 99, 99) !important;
  border-radius: 1vw;
}

table {
  padding: 10px;
  // backdrop-filter: brightness(80%) !important;
}
