

<div class="center ext-margin">
  <h1>MONITORAMENTO SWITCHES</h1>
</div>

<div class="container-partial">
<h4>Monitoramento dos switches das topologias da subseções da Justiça Federal do Amapá</h4>

<div class="mt-2">
    
    <a class="m-h-2 blue-button" mat-flat-button href="/docs" target="_blank">Acessar a documentação</a>
    <a class="m-h-2 border" mat-stroked-button href="/laranjal">Monitorar Laranjal</a>
    <a class="m-h-2 border" mat-stroked-button href="/macapa">Monitorar Macapá</a>
    <a class="m-h-2 border" mat-stroked-button href="/oiapoque">Monitorar Oiapoque</a>
</div>
</div>