<div class="center flex-column">
  <div class="center ext-margin">
    <h2>MACAPÁ</h2>
  </div>

  <div class="border b-round flex-column center padding">
    <h3>Switchs Core</h3>

    <div class="center ext-margin">
      <app-core-switch-9900></app-core-switch-9900>
      <app-core-switch-9900></app-core-switch-9900>
    </div>
  </div>

  <div class="border b-round flex-column center padding ext-margin">
    <div class="ext-margin">
      <h3>Switchs ISIC</h3>
    </div>

    aqui vão os switches ISIC
  </div>

  <div class="border b-round flex-column center padding ext-margin">
    <div class="ext-margin">
      <h3>Switchs Distribuição</h3>
    </div>

    aqui vão os switches distribuição
  </div>

  <div class="flex-column center padding">
    <div class="ext-margin">
      <h3>Switchs Acesso por andar</h3>
    </div>

    aqui vão os switches acess por andar
  </div>

  <div class="border b-round flex-column center padding ext-margin">
    <div class="ext-margin">
      <h4>Térreo</h4>
    </div>

    aqui vão os switches térreo
  </div>

  <div class="border b-round flex-column center padding ext-margin">
    <div class="ext-margin">
      <h4>Primeiro andar</h4>
    </div>

    aqui vão os switches andar 1
  </div>

  <div class="border b-round flex-column center padding ext-margin">
    <div class="ext-margin">
      <h4>Segundo andar</h4>
    </div>

    aqui vão os switches andar 2
  </div>
</div>
