<div class="center flex-column">
  <div class="center ext-margin">
    <h2>MACAPÁ</h2>
  </div>

  <div class="border b-round flex-column center padding">
    <h3>Switchs Core</h3>

    <div class="center ext-margin">
      <!-- <app-switch-9900 [switch_name]="'core_macapa'"></app-switch-9900> -->
    </div>
  </div>

  <div class="border b-round flex-column center padding ext-margin">
    <div class="ext-margin">
      <h3>Switchs ISIC</h3>
    </div>

    <!-- <app-switch-6900-24></app-switch-6900-24> -->
  </div>

  <div class="border b-round flex-column center padding ext-margin">
    <div class="ext-margin">
      <h3>Switchs Distribuição</h3>
    </div>

    <!-- <app-switch-6860-28></app-switch-6860-28> -->
  </div>

  <div class="flex-column center padding">
    <div class="ext-margin">
      <h3>Switchs Acesso por andar</h3>
    </div>

    aqui vão os switches acess por andar
  </div>

  <div class="border b-round flex-column center padding ext-margin">
    <div class="ext-margin">
      <h4>Térreo</h4>
    </div>

    <!-- <app-switch-6360-24 [switch_name]="'acesso_terreo_cpd_macapa'"></app-switch-6360-24>
    <app-switch-6360-24 [switch_name]="'acesso_terreo_lado_secos_macapa'"></app-switch-6360-24>
    <app-switch-6360-24 [switch_name]="'acesso_terreo_lado_cpd_sepol_macapa'"></app-switch-6360-24> -->
    <app-switch-6360-24 [switch_name]="'acesso_terreo_lado_cpd_semam_macapa'"></app-switch-6360-24>
  </div>

  <div class="border b-round flex-column center padding ext-margin">
    <div class="ext-margin">
      <h4>Primeiro andar</h4>
    </div>

    <app-switch-6360-24></app-switch-6360-24>
  </div>

  <div class="border b-round flex-column center padding ext-margin">
    <div class="ext-margin">
      <h4>Segundo andar</h4>
    </div>

    <app-switch-6360-24></app-switch-6360-24>
  </div>
</div>
