<div class="center flex-column">

    <!-- MOVE THIS TO ANOTHER COMPONENT THAT WILL LISTEN THE OBSERVER-->
  <!---
    <div class="ext-margin">
      <table
        mat-table
        [dataSource]="switch.uplink_ports"
        class="mat-elevation-z8"
      >
         

        
        <ng-container matColumnDef="inputvalue">
          <th mat-header-cell *matHeaderCellDef>Bits recebidos</th>
          <td
            [class]="element.active ? 'bits-received' : 'bits-down'"
            mat-cell
            *matCellDef="let element"
          >
            {{ element.inputvalue }}
          </td>
        </ng-container>

        
        <ng-container matColumnDef="outputvalue">
          <th mat-header-cell *matHeaderCellDef>Bits enviados</th>
          <td
            [class]="element.active ? 'bits-sent' : 'bits-down'"
            mat-cell
            *matCellDef="let element"
          >
            {{ element.outputvalue }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    -->

  <h4 class="ext-margin">SWCORE1</h4>

  <div class="relative">
    <img
      class="switch-6900"
      src="assets/img/switches/OS6900T24.svg"
      alt="switch-6900"
    />

    <div class="port-set">

      <!-- <div class="container absolute-6900-1-16">
      <div class="port-6900">
        <img
          [src]="
            'assets/img/ports/link/link_6360_' +
            (ports_core_laranjal[0].active ? 'up' : 'down') +
            '.png'
          "
          alt="uplink_6900_up"
          [title]="
            'Entrada: ' +
            ports_core_laranjal[0].inputvalue +
            '\nSaída: ' +
            ports_core_laranjal[0].outputvalue
          "
        />
      </div>
    </div> -->

      <!-- <div class="container absolute-6900-17-32">
        <div class="port-6900">
            <img
              [src]="
                'assets/img/ports/link/link_6360_' +
                (ports_core_laranjal[0].active ? 'up' : 'down') +
                '.png'
              "
              alt="uplink_6900_up"
              [title]="
                'Entrada: ' +
                ports_core_laranjal[0].inputvalue +
                '\nSaída: ' +
                ports_core_laranjal[0].outputvalue
              "
            />
          </div>
    </div> -->

      <div class="container-6900 absolute-6900-33-48">
        <div
          *ngFor="let i of [].constructor(11); let index = index"
          class="port-6900"
        >
          <img
            src="
          assets/img/ports/emptyport.png
          "
          />
        </div>

        <div class="port-6900">
          <img
            [src]="
              'assets/img/ports/link/link_6360_' +
              (switch.uplink_ports[0].active ? 'up' : 'down') +
              '_upsidedown.png'
            "
            [title]="
              'Porta 44\nEntrada: ' +
              switch.uplink_ports[0].inputvalue +
              '\nSaída: ' +
              switch.uplink_ports[0].outputvalue
            "
          />
        </div>
      </div>
    </div>
  </div>
</div>