<div class="center ext-margin">
  <h2>LARANJAL DO JARI</h2>
</div>

<div class="border b-round flex-column center padding">

    <h3>Switchs Core</h3>

  <div class="center ext-margin">
    <app-core-switch-6900 [switch_name]="'core_laranjal'"></app-core-switch-6900>
  </div>
</div>

<div class="border b-round flex-column center padding ext-margin">
  <div class="ext-margin">
    <h3>Switchs acesso</h3>
  </div>

  <app-acess-switch [switch_name]="'acesso1_laranjal'" ></app-acess-switch>
  <app-acess-switch [switch_name]="'acesso2_laranjal'" ></app-acess-switch>
  <app-acess-switch [switch_name]="'acesso3_laranjal'" ></app-acess-switch>
</div>
