<div class="center ext-margin">
  <h2>LARANJAL DO JARI</h2>
</div>

<div class="border b-round flex-column center padding">

    <h3>Switchs Core</h3>

  <div class="center ext-margin">
    <app-switch-6900-48 [switch_name]="'core_laranjal'"></app-switch-6900-48>
  </div>
</div>

<div class="border b-round flex-column center padding ext-margin">
  <div class="ext-margin">
    <h3>Switchs acesso</h3>
  </div>

  <app-switch-6360-24 [switch_name]="'acesso1_laranjal'" ></app-switch-6360-24>
  <app-switch-6360-24 [switch_name]="'acesso2_laranjal'" ></app-switch-6360-24>
  <app-switch-6360-24 [switch_name]="'acesso3_laranjal'" ></app-switch-6360-24>
</div>
