<div class="center">
    <img class="switch-6360" src="assets/img/switches/OS6360.png" alt="teste">
</div>
  
  <div class="port-set absolute">
    <div class="container">
   
      <img class="block" src="assets/img/ports/link/link_6360_up.png" alt="link_6360_up">
      
      <img class="block" src="assets/img/ports/link/link_6360_up_upsidedown.png" alt="link_6360_up_upsidedown">
      
      <img class="block" src="assets/img/ports/link/link_6360_down.png" alt="link_6360_down">
    
      <img class="block" src="assets/img/ports/link/link_6360_down_upsidedown.png" alt="link_6360_down_upsidedown">
     
      <img class="block" src="assets/img/ports/link/link_6360_up.png" alt="link_6360_up">
    
      <img class="block" src="assets/img/ports/link/link_6360_up_upsidedown.png" alt="link_6360_up_upsidedown">
     
      <img class="block" src="assets/img/ports/link/link_6360_up.png" alt="link_6360_up">
    
      <img class="block" src="assets/img/ports/link/link_6360_up_upsidedown.png" alt="link_6360_up_upsidedown">
    
      <img class="block" src="assets/img/ports/link/link_6360_down.png" alt="link_6360_down">
        
      <img class="block" src="assets/img/ports/link/link_6360_down_upsidedown.png" alt="link_6360_down_upsidedown">
    
      <img class="block" src="assets/img/ports/link/link_6360_up.png" alt="link_6360_up">
    
      <img class="block" src="assets/img/ports/link/link_6360_up_upsidedown.png" alt="link_6360_up_upsidedown">
      
    </div>
  
    <div class="container">
      
        <img class="block" src="assets/img/ports/link/link_6360_up.png" alt="link_6360_up">
      
        <img class="block" src="assets/img/ports/link/link_6360_up_upsidedown.png" alt="link_6360_up_upsidedown">
    
        <img class="block" src="assets/img/ports/link/link_6360_down.png" alt="link_6360_down">
      
        <img class="block" src="assets/img/ports/link/link_6360_down_upsidedown.png" alt="link_6360_down_upsidedown">
      
        <img class="block" src="assets/img/ports/link/link_6360_up.png" alt="link_6360_up">

        <img class="block" src="assets/img/ports/link/link_6360_up_upsidedown.png" alt="link_6360_up_upsidedown">

        <img class="block" src="assets/img/ports/link/link_6360_up.png" alt="link_6360_up">

        <img class="block" src="assets/img/ports/link/link_6360_up_upsidedown.png" alt="link_6360_up_upsidedown">
      
        <img class="block" src="assets/img/ports/link/link_6360_down.png" alt="link_6360_down">

        <img class="block" src="assets/img/ports/link/link_6360_down_upsidedown.png" alt="link_6360_down_upsidedown">

        <img class="block" src="assets/img/ports/link/link_6360_up.png" alt="link_6360_up">

        <img class="block" src="assets/img/ports/link/link_6360_up_upsidedown.png" alt="link_6360_up_upsidedown">
      
    </div>
  
    <div class="container special">
      
        <img class="block" src="assets/img/ports/link/link_6360_up.png" alt="link_6360_up">
      
        <img class="block" src="assets/img/ports/link/link_6360_up_upsidedown.png" alt="link_6360_up_upsidedown">
      
    </div>
  
    <div class="container-uplinks">
      
        <img class="block-uplink" src="assets/img/ports/uplink/uplink_6360_up.png" alt="uplink_6360_up">
      
        <img class="block-uplink" src="assets/img/ports/uplink/uplink_6360_up.png" alt="uplink_6360_up">

        <img class="block-uplink" src="assets/img/ports/uplink/uplink_6360_down.png" alt="uplink_6360_down">
    
        <img class="block-uplink" src="assets/img/ports/uplink/uplink_6360_down.png" alt="uplink_6360_down">
      
    </div>
  
    <div class="container">
        <img class="block last" src="assets/img/ports/link/link_6360_up.png" alt="link_6360_up">
    </div>
  </div>
